{% extends 'index.html' %}

{% block title %}
Газоблоки 
{% endblock %}

{% block body%}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Пользовательский джамботрон</h1>
      <p class="col-md-8 fs-4">
        Используя ряд утилит, вы можете создать этот jumbotron, как и в предыдущих версиях Bootstrap. Ознакомьтесь с примерами ниже, чтобы узнать, как можно его изменить по своему вкусу.
      </p>
      <button class="btn btn-primary btn-lg" type="button">Пример кнопки</button>
    </div>
</div>
  
{% endblock %}